In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, KFold, cross_val_score, StratifiedKFold
from sklearn.preprocessing import StandardScaler

import tensorflow as tf 
from tensorflow.keras.layers import Conv2D, Flatten, MaxPool2D, BatchNormalization, GlobalAveragePooling2D, Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, ReduceLROnPlateau
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import Sequential
from tensorflow.keras.layers import InputLayer

## Bước 1: Đọc dữ liệu từ file excel/csv

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Churn_Modelling.csv')
df

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

## Bước 2: chuẩn hóa các cột dữ liệu thuộc dạng không có tình thứ tự (dữ liệu rời rạc) thành dạng One Hot Encoding

In [ ]:
geography = df.filter(['Geography'])
geography = pd.get_dummies(geography)
geography

      Geography_France  Geography_Germany  Geography_Spain
0                    1                  0                0
1                    0                  0                1
2                    1                  0                0
3                    1                  0                0
4                    0                  0                1
...                ...                ...              ...
9995                 1                  0                0
9996                 1                  0                0
9997                 1                  0                0
9998                 0                  1                0
9999                 1                  0                0

[10000 rows x 3 columns]

In [ ]:
gender = df['Gender'].replace(['Female','Male'],[0,1])
gender

0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    1
9999    0
Name: Gender, Length: 10000, dtype: int64

In [ ]:
df = df.drop(columns=['Geography', 'Gender', 'Surname', 'RowNumber', 'CustomerId'])
df

      CreditScore  Age  Tenure  ...  IsActiveMember  EstimatedSalary  Exited
0             619   42       2  ...               1        101348.88       1
1             608   41       1  ...               1        112542.58       0
2             502   42       8  ...               0        113931.57       1
3             699   39       1  ...               0         93826.63       0
4             850   43       2  ...               1         79084.10       0
...           ...  ...     ...  ...             ...              ...     ...
9995          771   39       5  ...               0         96270.64       0
9996          516   35      10  ...               1        101699.77       0
9997          709   36       7  ...               1         42085.58       1
9998          772   42       3  ...               0         92888.52       1
9999          792   28       4  ...               0         38190.78       0

[10000 rows x 9 columns]

In [ ]:
df_new = df.join(geography)
df_new = df_new.join(gender)
df_new

      CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender
0             619   42       2  ...                  0                0       0
1             608   41       1  ...                  0                1       0
2             502   42       8  ...                  0                0       0
3             699   39       1  ...                  0                0       0
4             850   43       2  ...                  0                1       0
...           ...  ...     ...  ...                ...              ...     ...
9995          771   39       5  ...                  0                0       1
9996          516   35      10  ...                  0                0       1
9997          709   36       7  ...                  0                0       0
9998          772   42       3  ...                  1                0       1
9999          792   28       4  ...                  0                0       0

[10000 rows x 13 columns]

In [ ]:
X = df_new.drop(columns=['Exited'])
X

      CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender
0             619   42       2  ...                  0                0       0
1             608   41       1  ...                  0                1       0
2             502   42       8  ...                  0                0       0
3             699   39       1  ...                  0                0       0
4             850   43       2  ...                  0                1       0
...           ...  ...     ...  ...                ...              ...     ...
9995          771   39       5  ...                  0                0       1
9996          516   35      10  ...                  0                0       1
9997          709   36       7  ...                  0                0       0
9998          772   42       3  ...                  1                0       1
9999          792   28       4  ...                  0                0       0

[10000 rows x 12 columns]

In [ ]:
y = df_new['Exited']
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

## Bước 3: Chia dữ liệu ra làm 2 tập train và test

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

## Bước 4: Chuẩn hóa dữ liệu

In [ ]:
X_train = StandardScaler().fit_transform(X_train)
X_train

array([[ 0.35649971, -0.6557859 ,  0.34567966, ..., -0.57946723,
        -0.57638802,  0.91324755],
       [-0.20389777,  0.29493847, -0.3483691 , ...,  1.72572313,
        -0.57638802,  0.91324755],
       [-0.96147213, -1.41636539, -0.69539349, ..., -0.57946723,
         1.73494238,  0.91324755],
       ...,
       [ 0.86500853, -0.08535128, -1.38944225, ..., -0.57946723,
        -0.57638802, -1.09499335],
       [ 0.15932282,  0.3900109 ,  1.03972843, ..., -0.57946723,
        -0.57638802,  0.91324755],
       [ 0.47065475,  1.15059039, -1.38944225, ...,  1.72572313,
        -0.57638802,  0.91324755]])

## Bước 5: Xây dựng mô hình Neural Network

In [ ]:
def build_model():
    model = Sequential()
    # model.add(Dense(6, input_dim=X_train.shape[1], activation='relu', kernel_initializer='he_normal'))
    model.add(InputLayer(input_shape=(X_train.shape[1],)))
    model.add(Dense(6, activation='relu', kernel_initializer='he_normal'))
    model.add(Dense(1, activation='sigmoid'))
    model.compile(
        loss='binary_crossentropy',
        optimizer=Adam(lr=1e-3),
        metrics=['accuracy']
    )
    return model

## Bước 6: Huấn luyện mạng với thuật toán Adam sử dụng hàm độ lỗi Binary Cross Entropy

In [ ]:
model = build_model()
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 6)                 78
_________________________________________________________________
dense_13 (Dense)             (None, 1)                 7
=================================================================
Total params: 85
Trainable params: 85
Non-trainable params: 0
_________________________________________________________________

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/optimizer_v2.py:356: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  "The `lr` argument is deprecated, use `learning_rate` instead.")

In [ ]:
epochs = 100
model.fit(X_train, y_train,
          epochs=epochs,
          verbose=1,
          shuffle=True)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.5975 - accuracy: 0.7442
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4938 - accuracy: 0.7846
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4598 - accuracy: 0.7925
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4447 - accuracy: 0.7966
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4358 - accuracy: 0.8036
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4298 - accuracy: 0.8102
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4255 - accuracy: 0.8131
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4218 - accuracy: 0.8175
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4184 - accuracy: 0.8195
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4153 - accuracy: 0.8209
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4128 - accuracy: 0.8219
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4102 - accuracy: 0.8250
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4078 - accuracy: 0.8264
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4052 - accuracy: 0.8299
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4026 - accuracy: 0.8291
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3997 - accuracy: 0.8317
Epoch 17/100
250/250 [==============================] - 0s 994us/step - loss: 0.3972 - accuracy: 0.8325
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3946 - accuracy: 0.8330
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3921 - accuracy: 0.8329
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3894 - accuracy: 0.8356
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3875 - accuracy: 0.8344
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3852 - accuracy: 0.8363
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3834 - accuracy: 0.8372
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3819 - accuracy: 0.8375
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3801 - accuracy: 0.8374
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3786 - accuracy: 0.8375
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3775 - accuracy: 0.8388
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3764 - accuracy: 0.8415
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3750 - accuracy: 0.8406
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3739 - accuracy: 0.8424
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3731 - accuracy: 0.8424
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3720 - accuracy: 0.8428
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3712 - accuracy: 0.8435
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3702 - accuracy: 0.8431
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3696 - accuracy: 0.8436
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3689 - accuracy: 0.8446
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3680 - accuracy: 0.8432
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3675 - accuracy: 0.8453
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3669 - accuracy: 0.8460
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3663 - accuracy: 0.8484
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3656 - accuracy: 0.8478
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3651 - accuracy: 0.8487
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3646 - accuracy: 0.8489
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3638 - accuracy: 0.8475
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3634 - accuracy: 0.8470
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3631 - accuracy: 0.8485
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3625 - accuracy: 0.8497
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3620 - accuracy: 0.8482
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3616 - accuracy: 0.8485
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3614 - accuracy: 0.8504
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3611 - accuracy: 0.8496
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3608 - accuracy: 0.8509
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3603 - accuracy: 0.8506
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3598 - accuracy: 0.8495
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3598 - accuracy: 0.8515
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3593 - accuracy: 0.8506
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3591 - accuracy: 0.8535
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3588 - accuracy: 0.8520
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3585 - accuracy: 0.8531
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3583 - accuracy: 0.8529
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3578 - accuracy: 0.8524
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3577 - accuracy: 0.8531
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3574 - accuracy: 0.8535
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3571 - accuracy: 0.8546
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3570 - accuracy: 0.8537
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3567 - accuracy: 0.8549
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3565 - accuracy: 0.8550
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3561 - accuracy: 0.8533
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3560 - accuracy: 0.8541
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3555 - accuracy: 0.8555
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3552 - accuracy: 0.8570
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3553 - accuracy: 0.8540
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3548 - accuracy: 0.8572
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3548 - accuracy: 0.8541
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3545 - accuracy: 0.8564
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3542 - accuracy: 0.8541
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3541 - accuracy: 0.8554
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3541 - accuracy: 0.8555
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3534 - accuracy: 0.8561
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3534 - accuracy: 0.8564
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3532 - accuracy: 0.8555
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3530 - accuracy: 0.8566
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3528 - accuracy: 0.8570
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3528 - accuracy: 0.8545
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3520 - accuracy: 0.8569
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3521 - accuracy: 0.8565
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3522 - accuracy: 0.8559
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3521 - accuracy: 0.8566
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3519 - accuracy: 0.8558
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3516 - accuracy: 0.8575
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3512 - accuracy: 0.8568
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3510 - accuracy: 0.8560
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3512 - accuracy: 0.8577
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3507 - accuracy: 0.8581
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3504 - accuracy: 0.8577
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3505 - accuracy: 0.8574
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3502 - accuracy: 0.8576
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3502 - accuracy: 0.8566
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3501 - accuracy: 0.8577
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3500 - accuracy: 0.8576

## Bước 7: Test và đánh giá kết quả

In [ ]:
model.evaluate(X_test, y_test)

63/63 [==============================] - 0s 890us/step - loss: 893.0627 - accuracy: 0.7240

[893.0626831054688, 0.7239999771118164]

## Bước 8: Đánh giá độ chính xác bằng phương pháp KFold Cross Validation

In [ ]:
cv = StratifiedKFold(n_splits=5, random_state=1, shuffle=True)

In [ ]:
history = []

In [ ]:
for train_idx, val_idx in cv.split(X, y):
    X_train = X.loc[train_idx]
    X_valid = X.loc[val_idx]
    y_train = y.loc[train_idx]
    y_test = y.loc[val_idx]

    model = build_model()
    model.fit(X_train, 
              y_train, 
                epochs=epochs,
                verbose=0,
                shuffle=True)
    history.append(model.evaluate(X_test, y_test))

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/optimizer_v2.py:356: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  "The `lr` argument is deprecated, use `learning_rate` instead.")

63/63 [==============================] - 0s 992us/step - loss: 1.7955 - accuracy: 0.7120

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/optimizer_v2.py:356: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  "The `lr` argument is deprecated, use `learning_rate` instead.")

63/63 [==============================] - 0s 991us/step - loss: 4.5932 - accuracy: 0.6630

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/optimizer_v2.py:356: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  "The `lr` argument is deprecated, use `learning_rate` instead.")

63/63 [==============================] - 0s 999us/step - loss: 0.5048 - accuracy: 0.7965

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/optimizer_v2.py:356: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  "The `lr` argument is deprecated, use `learning_rate` instead.")

63/63 [==============================] - 0s 992us/step - loss: 5.9110 - accuracy: 0.7100

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/optimizer_v2.py:356: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  "The `lr` argument is deprecated, use `learning_rate` instead.")

63/63 [==============================] - 0s 1ms/step - loss: 12.2226 - accuracy: 0.5785

In [ ]:
history

[[1.7954981327056885, 0.7120000123977661],
 [4.5931854248046875, 0.6629999876022339],
 [0.5048018097877502, 0.796500027179718],
 [5.911044597625732, 0.7099999785423279],
 [12.222590446472168, 0.578499972820282]]

In [ ]:
print(f"Mean accuracy: {np.mean([history[_][1] for _ in range(len(history))])}")

Mean accuracy: 0.6919999957084656